#Questions

1.  **What are data structures, and why are they important?**
    - Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are important because they allow us to manage and manipulate data effectively, which is crucial for building complex and efficient programs. Different data structures are suited for different tasks.

2.  **Explain the difference between mutable and immutable data types with examples.**
    - **Mutable data types** can be changed after they are created. Examples include lists, dictionaries, and sets.
    - **Immutable data types** cannot be changed after they are created. Examples include strings, tuples, and numbers (integers, floats).

3.  **What are the main differences between lists and tuples in Python?**
    - **Lists** are mutable, ordered collections of items. They are defined using square brackets `[]`.
    - **Tuples** are immutable, ordered collections of items. They are defined using parentheses `()`. The key difference is mutability; lists can be modified (add, remove, change elements), while tuples cannot.

4.  **Describe how dictionaries store data.**
    - Dictionaries store data as key-value pairs. Each key is unique within the dictionary and is used to access its corresponding value. Dictionaries are unordered (in Python versions prior to 3.7, and insertion order is preserved from 3.7 onwards) and mutable. They are defined using curly braces `{}`.

5.  **Why might you use a set instead of a list in Python?**
    - You might use a set instead of a list when you need a collection of unique elements and the order of elements doesn't matter. Sets are useful for quickly checking for membership (using the `in` keyword) and for performing mathematical set operations like union, intersection, and difference. Sets also automatically handle duplicate values, ensuring each element is unique.

6.  **What is a string in Python, and how is it different from a list?**
    - A string in Python is an immutable sequence of characters. It is used to represent text. While both strings and lists are sequences and can be iterated over, the main difference is mutability: strings are immutable, meaning you cannot change individual characters in place, whereas lists are mutable and can be modified.

7.  **How do tuples ensure data integrity in Python?**
    - Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This makes tuples suitable for storing data that should not be altered, such as configuration settings or coordinates.

8.  **What is a hash table, and how does it relate to dictionaries in Python?**
    - A hash table (or hash map) is a data structure that implements an associative array (mapping keys to values). Dictionaries in Python are implemented using hash tables. Hash tables use a hash function to compute an index into an array of buckets or slots, where the values are stored. This allows for very fast average-case time complexity for operations like insertion, deletion, and lookup.

9.  **Can lists contain different data types in Python?**
    - Yes, lists in Python can contain elements of different data types. You can have a list containing integers, strings, floats, other lists, dictionaries, or any other Python object.

10. **Explain why strings are immutable in Python.**
    - Strings are immutable in Python because immutability allows for certain optimizations and guarantees. For example, immutable objects can be safely shared between different parts of a program without worrying about unexpected modifications. Also, immutability is important for using strings as keys in dictionaries, as dictionary keys must be hashable (and mutability would make them unhashable).

11. **What advantages do dictionaries offer over lists for certain tasks?**
    - Dictionaries offer advantages over lists when you need to access data based on a key rather than an index. They provide very fast lookups, insertions, and deletions on average. Dictionaries are ideal for representing data with named attributes or when you need to quickly retrieve a value associated with a specific identifier.

12. **Describe a scenario where using a tuple would be preferable over a list.**
    - A scenario where using a tuple would be preferable over a list is when you need to store a collection of related items that should not be changed, such as a set of coordinates (e.g., latitude and longitude) or a record of immutable data. Since tuples are immutable, they guarantee that the data remains constant.

13. **How do sets handle duplicate values in Python?**
    - Sets in Python automatically handle duplicate values by only storing one instance of each unique element. When you add an element to a set that is already present, the set remains unchanged. This makes sets useful for easily removing duplicates from a collection.

14. **How does the "in" keyword work differently for lists and dictionaries?**
    - For lists, the `in` keyword checks if an element is present among the *values* in the list. For dictionaries, the `in` keyword checks if a key is present among the *keys* in the dictionary.

15. **Can you modify the elements of a tuple? Explain why or why not.**
    - No, you cannot modify the elements of a tuple. Tuples are immutable data types in Python. Once a tuple is created, its contents cannot be changed. This is a fundamental characteristic of tuples and is why they are used for data that should not be altered.

16. **What is a nested dictionary, and give an example of its use case?**
    - A nested dictionary is a dictionary where the values are themselves dictionaries. This allows you to create hierarchical data structures. A common use case is representing complex objects or records, such as a database of users where each user's information (name, email, address) is stored in a separate nested dictionary.
17. **Describe the time complexity of accessing elements in a dictionary**
    - Accessing elements in a Python dictionary is generally very fast because dictionaries are implemented using hash tables. On average, the time complexity is O(1), meaning elements can be accessed in constant time since the key is hashed to find the corresponding value directly. However, in the worst case, if many keys hash to the same location (hash collisions), accessing an element may require scanning through multiple entries, leading to a time complexity of O(n). Fortunately, Pythonâ€™s efficient hashing and collision resolution strategies make the average-case O(1) performance the most common in practice.
18. **In what situations are lists preferred over dictionaries?**
    - Lists are preferred over dictionaries in situations where the order of elements matters, where data needs to be accessed by position using indices, or where duplicate values are required. Since lists store elements in a sequential manner, they are ideal for ordered collections such as sequences, arrays, or time-based data. They are also more memory-efficient when only values are needed, without the overhead of key-value pairs. Moreover, lists provide a simple and intuitive way to manage collections of items, making them suitable for straightforward use cases like storing names, numbers, or items in a specific order.
19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
    - Dictionaries are considered unordered because they store data using a hashing mechanism, where each key is mapped to a memory location based on its hash value rather than its insertion position. This means the elements are not arranged sequentially like in a list, and traditionally their order could not be relied upon. As a result, when retrieving data, you must use the specific key associated with a value instead of relying on positional access. Although in modern versions of Python (3.7+), dictionaries preserve insertion order for practical use, they are still conceptually treated as unordered because their primary purpose is fast key-based lookup rather than maintaining sequence. This affects data retrieval by making it efficient through keys but unsuitable when strict positional ordering is required.
20. **Explain the difference between a list and a dictionary in terms of data retrieval.**
    - The main difference between a list and a dictionary in terms of data retrieval lies in how elements are accessed. In a list, data is retrieved using integer indices that represent the position of an element in the sequence, such as list[0] for the first item. This makes lists ideal for ordered collections where the position of items is important. In contrast, a dictionary retrieves data using unique keys that are mapped to values through hashing, such as dict["name"]. This allows for faster and more direct access when the key is known, without needing to search through positions. Therefore, lists are suited for sequential, index-based retrieval, while dictionaries are better for fast, key-based lookups.

# Practical Questions

In [4]:
# 1. Write a code to create a string with your name and print it.
name = "Vihit Raval"
print(name)

Vihit Raval

In [5]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [6]:
# 3. Write a to slice the first 3 characters from the string "Pyhon Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "i like apple".
string = "i like apple"
print(string.replace("apple", "orange"))

i like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1,2,3,4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to to remove the number 3 from the list [1,2,3,4,5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ["a", "b" , "c" , "d"].
list = ["a", "b", "c", "d"]
print(list[1])

b

In [16]:
# 10. Write a code to reverse the list [10,20,30,40,50].
list = [10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [17]:
# 11. Write a code to create a tuple with the elements 100 ,200 , 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [18]:
# 12. Write a code to access the second-to-last element of the tuple ("red","green","blue","yellow").
tuple = ("red","green","blue","yellow")
print(tuple[-2])

blue

In [19]:
# 13. Write a code to find the minimum number in the tuple(10,20,5,15).
tuple = (10,20,5,15)
print(min(tuple))

5

In [20]:
# 14. Write a code to find the index of element "cat" in the tuple ("dog" ,"cat" , "rabbit")
tuple = ("dog","cat","rabbit")
print(tuple.index("cat"))

1

In [21]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [59]:
# 16. Write a code to create a set with the elements "a" , "b" , "c" and print it
s1 = {"a" , "b" , "c"}
print(s1)

{'b', 'c', 'a'}

In [25]:
# 17. Write a code to clear all elements from the set {1,2,3,4,5}
s1 = {1,2,3,4,5}
s1.clear()
print(s1)

set()

In [26]:
# 18. Write a code to remove the element 4 from the the st {1,2,3,4}
s1 = {1,2,3,4}
s1.remove(4)
print(s1)

{1, 2, 3}

In [27]:
# 19. Write a code to find the union of two sets {1,2,3} and {3,4,5}
s1 = {1,2,3}
s2 = {3,4,5}
print(f"the union of {s1} and {s2} is" , s1 | s2)

the union of {1, 2, 3} and {3, 4, 5} is {1, 2, 3, 4, 5}

In [28]:
# 20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}
s1 = {1,2,3}
s2 = {2,3,4}
print(f"the intersection of {s1} and {s2} is" , s1 & s2)

the intersection of {1, 2, 3} and {2, 3, 4} is {2, 3}

In [29]:
# 21. Write a code to create a dictionary with the keys "name", "age" , and "city" and print it.
dict = {"name" : "Vihit" , "age" : 19 , "city" : "surat"}
print(dict)

{'name': 'Vihit', 'age': 19, 'city': 'surat'}

In [30]:
# 22. Write a code to add a new key-value pair "country":"USA" to the dictionary {"name":"john" , "age":30}
dict = {"name":"john" , "age":30}
dict["country"] = "USA"
print(dict)

{'name': 'john', 'age': 30, 'country': 'USA'}

In [31]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {"name":"alice","age":25}.
dict = {"name":"alice","age":25}
print(dict["name"])

alice

In [33]:
# 24. Write a code to remove the key "age" from the dictionary {"name":"bob","age":22 , "city":"New York"}.
dict = {"name":"bob","age":22 , "city":"New York"}
dict.pop("age")
print(dict)

{'name': 'bob', 'city': 'New York'}

In [34]:
# 25. Write a code to check if the key "city" exists in the dictionary {"name":"alice", "city":"paris"}.
dict = {"name":"alice", "city":"paris"}
print("city" in dict)

True

In [35]:
# 26. Write a code to create a list , a tuple and a dictionary and print them all
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dict = {"name" : "Vihit" , "age" : 19 , "city" : "surat"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Vihit', 'age': 19, 'city': 'surat'}

In [45]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100 , sort it in ascending order , and print the result.(replaced).
import random
list = [random.sample(range(1,100), 5)]
list.sort()
print(list)

[[16, 74, 4, 24, 31]]

In [47]:
# 28. Write a code to create a list with strings and print the element at the third index.
list = ["apple","banana","kiwi","watermelon"]
print(list[3])

watermelon

In [51]:
# 29. Write a code to combine two dictionaries into one and print the result .
l1 = {"name" : "Vihit" , "age" : 19 , "city" : "surat"}
l2 = {"name":"alice","age":25 , "country":"INDIA"}
l1.update(l2)
print(l1)

{'name': 'alice', 'age': 25, 'city': 'surat', 'country': 'INDIA'}

In [60]:
# 30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "kiwi", "watermelon"]
s2 = set(my_list)
print(s2)

{'banana', 'watermelon', 'apple', 'kiwi'}